<% if @m.user_id != current_user.id %>
          <div class="row panel">
              <div class="col-sm-7">
                  <center><span class="helper"></span><p style="width: 70px;height: 70px;border-radius: 50%;background-color:#eaeaea;font-size: 2em;font-weight: 300;line-height: 70px;font-family: 'Helvetica Neue'; vertical-align:middle"><%= User.find(@m.user_id).display_name[0].chr %></p></center>
                    <div class="post-container" style="padding-top:30px;margin-top:-45px;background-color:#eaeaea">
                      <p style="line-height: 25px;letter-spacing: .4px;font-size:1.05em;text-align:right;padding-left:20px;padding-right:20px;" id="textboc<%= @m.id %>"></p>
                      <script>
                        var val = "<%= @m.content.html_safe %>"
                      var bl = null;
                      for (var i in map) {
                       var regex = new RegExp(escapeSpecialChars(i), 'gim');
                        bl = val = val.replace(regex, map[i]);
                       }
                        var i = "<%= @m.id %>"
                        document.getElementById("textboc" + i).innerHTML = urlify(val)
                      </script>
                    </div>
                  <p style="font-size: .8em;text-align: center;padding:10px;padding-left:20px;padding-right: 20px;margin-top: -10px;border-radius:10px;background-color:#eaeaea"><%= distance_of_time_in_words(@m.created_at,Time.now) %> ago</p>
              </div>
              
              <div class="col-sm-5">
                <% if @m.picture_file_name != nil %>
                  <center><a href="<%= @m.picture.url %>"><%= image_tag @m.picture.url(:thumb), :style => "border-radius:10px;background-color:#eaeaea;margin-top:45px;float:left;" %></a></center>
                <% end %>
              </div>
          </div>
              
              
              <% else %>
              
             <div class="row panel">
                
              <div class="col-sm-5">
                <% if @m.picture_file_name != nil %>
                  <center><a href="<%= @m.picture.url %>"><%= image_tag @m.picture.url(:thumb), :style => "border-radius:10px;background-color:#eaeaea;margin-top:45px;float:right;margin-left:10px;" %></a></center>
                <% end %>
              </div>
              
              <div class="col-sm-7">
                  <center><span class="helper"></span><p style="width: 70px;height: 70px;border-radius: 50%;background-color:#71bfec;font-size: 2em;font-weight: 300;line-height: 70px;font-family: 'Helvetica Neue'; vertical-align:middle;color:white"><%= User.find(@m.user_id).display_name[0].chr %></p></center>
                    <div class="post-container" style="padding-top:30px;margin-top:-45px;background-color:#71bfec">
                      <p style="line-height: 25px;letter-spacing: .4px;font-size:1.05em;text-align:right;padding-left:20px;padding-right:20px;color:white;" id="textboc<%= @m.id %>"></p>
                      <script>
                        var val = "<%= @m.content.html_safe %>"
                      var bl = null;
                      for (var i in map) {
                       var regex = new RegExp(escapeSpecialChars(i), 'gim');
                        bl = val = val.replace(regex, map[i]);
                       }
                        var i = "<%= @m.id %>"
                        document.getElementById("textboc" + i).innerHTML = urlify(val)
                      </script>
                    </div>
                  <p style="font-size: .8em;text-align: center;padding:10px;padding-left:20px;padding-right: 20px;margin-top: -10px;border-radius:10px;background-color:#71bfec;color:white"><%= distance_of_time_in_words(@m.created_at,Time.now) %> ago</p>
              </div>
              
          </div>
              
              
              <% end %>